
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-icon img {
  height: 75px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #a100ff;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }


  header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  section {
    padding: 2rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #eee;
  }
  